<div class="row">
  <div class="col-xs-12">
    <h3>Add new TODO</h3>
    <label>Title</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newTodoTitle">-->
    <input type="text" class="form-control" #newTitleInput>
    <label>Description</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newTodoDescription">-->
    <input type="text" class="form-control" #newDescInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="addTodo(newTitleInput)">
      Add TODO
    </button>
  </div>
</div>
